h1 ,h2 {
    font-size: 1.7rem;
}

span {
    font-size: 1.7rem;
    color: rgb(223, 54, 138);
}

.team-people img{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    padding: 0.5rem;
    border:  0.5rem solid blueviolet;
}
.team {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}