

.sup {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
}

.title {

}

h1 span {
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 54, 138);
}

.logo1 {
    color: rgb(59, 202, 54);
   
}
hr {
    padding-top: 1rem;
    background-color: deeppink ;
    height: 1rem;
    
}


.text p{
    display: flex; 
    font-size: 1.5rem;
    justify-content: center;
    padding-left: 20%;
    width: 50%;
}


article {
    background-color: rgb(165, 144, 144);
}
strong {
    font-size: 3.5rem;
    
    color: gray;
}
article p {
    color: rgb(223, 54, 138);
}

.videos video {
    width: 650px;
    height: 450px;
}